body {
  margin: 0;
  background-color: rgba(226,232,240,255);
}

.container {
    display: grid;
    grid-template-columns: 10rem 3fr 25rem;
    grid-template-rows: 10vh;
    height: 100vh;
    text-align: center;
  }


  .sidebar {
    min-width: 10em;
   
    grid-row: 1/ 3;
    background-color: aqua;
  }

 

  a {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  nav h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .menu ul,
  .menu li {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
 
}

  nav {
    display: grid;
    height:60vh;
    position: fixed;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: blueviolet;
    grid-column: 2/4;
    grid-row: 1/2;
    align-items: center;
  }

  .logo {
    margin-left: 5vw;
    justify-self: start;
  }

  .icon-svg{
    height: 1.5em;
    width: 1.5em;
  }

  .projects{
    padding: 3rem;
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
    
  }

  .tile{
    border-radius: 10%;
    height: 350px;
    text-align: center;
    background-color: darkgoldenrod;
  }

  .sidebar-right{
    padding: 1rem;
  }

  .sidebar-right h2 {
    display: flex;
    justify-self: start;
  }

  .bord-bot {
    border-bottom: 2px solid black;
    
  }

  .trending, .announcements{
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10%;
  }


 