body {
  margin: 0;
  background-color: #9ED2C6;
  height: 100vh;  
}

.container {
    display: grid;
  
    grid-template-columns: 15rem 3fr 25rem;
    grid-template-rows: 15vh 85vh;
    height: 100vh;
    text-align: center;
  }


  .sidebar {
    min-width: 10em;
    grid-row: 1/ 4;
    
  }
  
  .test {
    position: fixed;
    background-color: #54BAB9;
    box-shadow: 5px 5px 5px -2px #F7ECDE;
    height: 100vh;
    width: 15rem;
  }
 

  a {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 1.5em;
    text-decoration: none;
  }



  a:hover{
    text-decoration: underline;
  }

  nav h2 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 1.5em;
  }
  
  .menu{
    margin-left: 15vw;
    margin-right: 8vw;
  }

  .menu ul,
  .menu li {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
 
}

.settings {
  margin-top: 3em;
}

  nav {
    display: grid;
    height:65vh;
    
    
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: #F7ECDE;
    grid-column: 2/4;
    grid-row: 1/2;
    align-items: center;
    box-shadow: 5px 5px 5px -2px;
    height: auto;
  }

  input{
    width: 30vw;
    border-radius: 1.5em;
    height: 2em;
  }

  form{
    margin-top: 1vh;
    display: flex;
    margin-left: 2vw;
  }

  .name-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-logo img {
    margin-left: 2vw;
    height: 32px;
  }

  .search {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/4;
    height: 3em;
  }

  .logo {
    margin-left: 5vw;
    justify-self: start;
  }

  button {
    border-radius: 1.25em;
    height: 2em;
    background-color: #54BAB9;
  }

  .icon-svg{
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
  }

  

  .projects{
    padding: 3rem;
    display: grid;
    margin-top: 5px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
  }

  .projects h2 {
    position: absolute;
    top: 14vh;
  }

  .tile{
    border-radius: 10%;
    height: 200px;
    text-align: center;
    background-color: #E9DAC1;
    border-left: solid 1rem #54BAB9;
    box-shadow: 5px 5px 5px -2px;
  }

  .sidebar-right{
    display: flex;
    flex-direction: column;
    padding-right:1rem;
    padding-left: 1rem;
    grid-column: 3/4;
    max-width: 25rem;
  }

  .sidebar-right h2 {
    display: flex;
    justify-self: start;
  }

  .bord-bot {
    border-bottom: 2px solid black;
    
  }

  .trending, .announcements{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #E9DAC1;
    border-radius: 10%;
    box-shadow: 5px 5px 5px -2px;
    height: 32vh;
  }

  .github-logo:hover{
    animation: roll 3s;
    transform: rotate(720deg) ;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg)
    }
}
 

 